body {
    background-image: url("https://top-fon.com/uploads/posts/2022-09/1663860953_1-top-fon-com-p-serii-fon-html-foto-1.jpg");
    background-repeat: no-repeat;
}

.bg-body-tertiary {
    background-image: url("https://top-fon.com/uploads/posts/2022-09/1663860953_1-top-fon-com-p-serii-fon-html-foto-1.jpg");
    background-repeat: no-repeat;
}

.mb-5 {
    color: white;
    border: 5px black;

}

.navbar-brand {
    color: white !important;
}

.justify-content-end a {
    margin-left: 5px;
}

.card {
    margin-top: 10px;
    border-radius: 15px;
    border-width: 2px !important;
}

.mb-3 label {
    width: 100px;
}

.rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row {
    display: flex;
    align-items: center;
}

.icons a {
    color: black;
    font-size: 35px;
    text-decoration: none;
}